@media screen and (max-width: 1200px) {
  .header__label {
    display: none;
  }
  .header__service {
    padding-right: 30px;
    padding-left: 30px;
  }
  .header__logo {
    max-width: 105px;
    left: 15px;
  }
  .header__logo img {
    margin-bottom: -30px;
    margin-top: -30px;
  }
  .header__middle {
    display: none;
  }
  .header__bottom {
    position: fixed;
    top: -300px;
    opacity: 0;
    z-index: 45;
    background: #fff;
  }
  .header__bottom .header__wrap {
    padding-left: 155px;
  }
  .header__bottom button {
    top: 30px;
  }
  .header__bottom--open {
    top: 50px;
    opacity: 1;
  }
  .header__top .header__wrap {
    padding-left: 155px;
  }
  .header__search {
    border: none;
    position: relative;
    z-index: 45;
    border-radius: 0;
    margin-top: 30px;
    background: #fff;
  }

  .catalog {
    padding-left: 30px;
  }

  .language {
    padding-left: 30px;
  }

  .menu-btn {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .searchBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .searchBtn--active {
    background: #00BDC9;
  }

  .menu {
    padding-left: 155px;
    padding-bottom: 25px;
  }
  .menu__img {
    display: none;
  }

  .cardBlock__grid {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 175px;
  }
  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__col {
    margin-bottom: 20px;
  }
  .footer__col:first-child {
    min-width: 330px;
  }
  .footer__col:nth-child(2) {
    min-width: 170px;
  }
  .footer__col:nth-child(3) {
    min-width: 175px;
  }

  .exchangeBlock__inputBlock {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .exchangeBlock .inputItem {
    max-width: 100%;
  }

  .contactsBlock__fixed {
    padding-left: 20px;
    min-width: 350px;
  }
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: 34px;
  }

  .header__logo {
    max-width: 55px;
    position: relative;
    -webkit-box-ordinal-group: -10;
        -ms-flex-order: -11;
            order: -11;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0px;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-right: 40px;
  }
  .header__logo img {
    max-width: 100%;
    height: auto;
    margin: 0;
  }
  .header__bottom .header__wrap {
    padding-left: 25px;
  }
  .header__top .header__wrap {
    padding-left: 0px;
  }

  .menu {
    padding-left: 25px;
  }

  .advantages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__icon {
    max-width: 100%;
  }
  .advantages__desc {
    max-width: 100%;
  }
  .advantages__heading {
    text-align: center;
  }
  .advantages__sub {
    text-align: center;
  }

  .certificates__grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 970px) {
  .productCard__mainRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cardSlider {
    margin: 0px auto;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 900px) {
  .cardBlock__grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .bannerBlock__title {
    font-size: 28px;
  }
  .bannerBlock__bottom {
    font-size: 22px;
  }

  .filter {
    width: 200px;
  }

  .exchangeBlock__info {
    max-width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .header__service {
    max-width: 100px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
  }
  .header__logo {
    margin-right: 25px;
  }
  .header .menu-btn {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .header .menu-btn__text {
    font-size: 12px;
  }
  .header .catalog {
    padding-left: 10px;
  }
  .header .catalog__toggler {
    padding-right: 10px;
    padding-left: 10px;
  }

  .navLinks {
    border-left: none;
  }
  .navLinks__item:not(:first-child) {
    display: none;
  }
  .navLinks__item {
    border-right: none;
  }
  .navLinks__item:after {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }

  .language {
    display: none;
  }

  .catalog__toggler {
    padding: 5px 25px;
    background: #FFE545;
    font-style: normal;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 150%;
    color: #191b1c;
    cursor: pointer;
    font-weight: normal;
    position: relative;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 7px;
  }
  .catalog__toggler:hover {
    color: #000;
  }

  .menu__item {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .banner__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .banner__info {
    padding-right: 0;
    padding-bottom: 30px;
    min-width: 0;
  }

  .catalogBlock__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalogBlock__title {
    text-align: center;
  }

  .filter {
    width: 100%;
  }
  .filter__heading {
    position: relative;
  }
  .filter__submit {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 999999999999999;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background: #FFE545;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
    font-weight: 500;
  }
  .filter__close {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 40px;
    cursor: pointer;
  }
  .filter__close:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(50%) rotate(-45deg);
            transform: translateY(50%) rotate(-45deg);
  }
  .filter__close:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(50%) rotate(45deg);
            transform: translateY(50%) rotate(45deg);
  }
  .filter__count {
    display: none;
  }
  .filter__opener {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 200px;
    margin-bottom: 20px;
  }
  .filter__body {
    position: fixed;
    padding-top: 50px;
    top: -100vh;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 2;
    overflow-x: hidden;
  }
  .filter__body--open {
    top: 0;
  }

  .exchangeBlock__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .exchangeBlock__info {
    max-width: 100%;
  }
  .exchangeBlock__contact {
    max-width: 100%;
  }
  .exchangeBlock__item-heading {
    font-size: 14px;
    font-weight: 500;
  }
  .exchangeBlock__id {
    font-size: 12px;
    font-weight: 500;
  }

  .contactsBlock__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactsBlock__fixed {
    width: 100%;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 0;
  }
  .contactsBlock__form {
    padding-right: 20px;
    min-width: 0;
  }
  .contactsBlock__innerRow {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .contactsBlock__phoneRow {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px auto;
  }
  .contactsBlock__phoneTown {
    margin: 0px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactsBlock__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactsBlock__fill {
    max-width: 100%;
    width: 100%;
    min-height: 250px;
    max-height: 300px;
  }
  .contactsBlock__fill iframe {
    min-height: 250px;
  }

  .productCard__titleRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .productCard__feedback-stars {
    margin-left: 0;
  }
  .productCard__feedback-button {
    margin: 0px auto;
  }
  .productCard__topInfo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .cardInfo__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cardInfo__textGrid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cardInfo__textCol {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 610px) {
  .cardBlock__grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .services__row-big {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .footer__list li {
    font-size: 14px;
  }
  .footer__logoCol {
    margin: 0px auto;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 550px) {
  .certificates__grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .title {
    font-size: 24px;
  }

  .header__service {
    display: none;
  }

  .bannerBlock {
    padding: 10px;
    padding-top: 20px;
  }
  .bannerBlock__bottom {
    font-size: 16px;
  }
  .bannerBlock__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .bannerBlock__grid {
    margin-bottom: 0;
  }
  .bannerBlock__item {
    width: 100%;
    font-size: 14px;
  }

  .sortBlock {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sortBlock__heading {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .sortBlock__item {
    margin-bottom: 10px;
  }

  .wrap {
    padding-right: 10px;
    padding-left: 10px;
  }

  .exchangeBlock__headRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .exchangeBlock__heading {
    font-size: 22px;
    text-align: center;
  }
  .exchangeBlock__info {
    margin-bottom: 50px;
    max-height: 500px;
    overflow-x: hidden;
  }
  .exchangeBlock__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .exchangeBlock__item-text {
    padding-left: 0;
  }
  .exchangeBlock__item-heading {
    text-align: center;
  }
  .exchangeBlock__item-row {
    padding-bottom: 20px;
  }
  .exchangeBlock__promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .exchangeBlock__promo input {
    margin-bottom: 15px;
  }
  .exchangeBlock__button {
    margin: 0px auto;
  }
  .exchangeBlock__id {
    margin: 0px auto;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .exchangeBlock__img {
    margin: 0px auto;
    margin-bottom: 15px;
  }
  .exchangeBlock__count {
    position: unset;
    display: block;
    text-align: center;
  }

  .cardInfo__priceRow {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cardInfo__price {
    width: 100%;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .cardInfo__count {
    margin-left: 0;
  }
  .cardInfo__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cardInfo__id {
    margin-bottom: 10px;
  }
  .cardInfo__nav {
    margin-top: 10px;
  }

  .rewiew {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rewiew__sender {
    margin-bottom: 15px;
  }
  .rewiew__body {
    max-width: 100%;
    width: 100%;
  }

  .productCard__viewInfo {
    padding-left: 0;
  }
  .productCard__label {
    margin-right: 0;
    text-align: center;
    margin-bottom: 10px;
  }
  .productCard__feedback-button {
    margin-top: 10px;
  }
}