$yellow: #FFE545;
$blue: #00BDC9;

@media screen and (max-width: 1200px){
    .header{
        // position: relative;
        &__label{
            display: none;
        }

        &__service{
            padding-right: 30px;
            padding-left: 30px;
        }

        &__logo{
            max-width: 105px;
            left: 15px;
                
            img{
                margin-bottom: -30px;
                margin-top: -30px;
            }
        }

        &__middle{
            display: none;
        }

        &__bottom{
            // display: none;
            // padding-left: 155px;
            position: fixed;
            top: -300px;
            opacity: 0;
            z-index: 45;
            background: #fff;
            .header__wrap{
                padding-left: 155px;
            }

            button{
                top: 30px;
            }

            &--open{
                top: 50px;
                opacity: 1;
            }
        }

        &__top{
            .header__wrap{
                padding-left: 155px;
            }
        }

        &__search{
            border: none;
            // padding-left: 155px;
            position: relative;
            z-index: 45;
            border-radius: 0;
            margin-top: 30px;
            background: #fff;
        }
    }

    .catalog{
        padding-left: 30px;
    }

    .language{
        padding-left: 30px;
    }

    .menu-btn{
        flex-grow: 1;
    }

    .searchBtn{
        display: flex;
        &--active{
            background: $blue;
        }
    }

    .menu{
        padding-left: 155px;
        padding-bottom: 25px;

        &__img{
            display: none;
        }
    }

    .cardBlock{
        &__grid{
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .footer{
        &__contacts{
            flex-direction: column;
            max-width: 175px;
        }

        &__top{
            flex-wrap: wrap;
        }

        &__col{
            margin-bottom: 20px;
        }

        &__col:first-child{
            min-width: 330px;
        }

        &__col:nth-child(2){
            min-width: 170px;
        }

        &__col:nth-child(3){
            min-width: 175px;
        }
    }

    .exchangeBlock{
        &__inputBlock{
            grid-template-columns: repeat(1, 1fr);
        }

        .inputItem{
            max-width: 100%;
        }
    }

    .contactsBlock{
        &__fixed{
            padding-left: 20px;
            min-width: 350px;
        }
    }
}


@media screen and (max-width: 1024px){
    .title{
        font-size: 34px;
    }
    
    .header{
        &__logo{
            max-width: 55px;
            position: relative;
            order: -11;
            display: flex;
            align-items: center;
            border-radius: 0px;
            background: none;
            box-shadow: none;
            margin-right: 40px;
            img{
                max-width: 100%;
                height: auto;
                margin: 0;
            }
        }

        &__bottom{
            .header__wrap{
                padding-left: 25px;
            }
        }

        &__top{
            .header__wrap{
                padding-left: 0px;
            }
        }
    }

    .menu{
        padding-left: 25px;
    }
    
    .advantages{
        &__item{
            flex-direction: column;

        }

        &__icon{
            max-width: 100%;
        }

        &__desc{
            max-width: 100%;
        }
        
        &__heading{
            text-align: center;
        }

        &__sub{
            text-align: center;
        }
    }

    .certificates{
        &__grid{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 970px){
    .productCard{
        &__mainRow{
            flex-direction: column;
        }
    }

    .cardSlider{
        margin: 0px auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 900px){
    .cardBlock{
        &__grid{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .bannerBlock{
        &__title{
            font-size: 28px;
        }

        &__bottom{
            font-size: 22px;
        }
    }

    .filter{
        width: 200px;
    }

    .exchangeBlock{
        &__info{
            max-width: 350px;
        }
    }
}


@media screen and (max-width: 768px){
    .header{
        &__service{
            max-width: 100px;
            padding-right: 10px;
            padding-left: 10px;
            font-size: 14px;
        }

        &__logo{
            margin-right: 25px;
        }

        .menu-btn{
            flex-grow: 0;
            &__text{
                font-size: 12px;
            }
        }

        

        .catalog{
            padding-left: 10px;
            &__toggler{
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }

    .navLinks{
        border-left: none;
        &__item:not(:first-child){
            display: none;
            
        }

        &__item{
            border-right: none;
            &:after{
                transform: scaleY(1);
            }
        }
    }

    .language{
        display: none;
    }

    .catalog{
        &__toggler{
            padding: 5px 25px;
            background: $yellow;
            font-style: normal;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 150%;
            color: #191b1c;
            cursor: pointer;
            font-weight: normal;
            position: relative;
            text-decoration: none;
            transition: 0.3s;
            border-radius: 7px;
            &:hover{
                color: #000;
            }
        }

    }

    .menu{
        &__item{
            font-size: 24px;
            margin-bottom: 5px;
        }
    }

    .banner{
        &__wrap{
            flex-direction: column;
            align-items: flex-start;
        }

        &__info{
            padding-right: 0;
            padding-bottom: 30px;
            min-width: 0;
        }
    }

    .catalogBlock{
        &__body{
            flex-direction: column;
        }

        &__title{
            text-align: center;
        }
    }

    .filter{
        width: 100%;
        &__heading{
            position: relative;
        }

        &__submit{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50px;
            z-index: 999999999999999;
            cursor: pointer;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            background: #FFE545;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: 500;
        }

        &__close{
            position: relative;
            display: flex;
            align-items: center;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 40px;
            cursor: pointer;
            // top: 50%;
            // transform: translateY(50%);
            &:before{
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background: #000;
                position: absolute;
                top: 50%;
                transform: translateY(50%) rotate(-45deg);
            }

            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background: #000;
                position: absolute;
                top: 50%;
                transform: translateY(50%) rotate(45deg);

            }
        }

        &__count{
            display: none;
        }

        &__opener{
            display: flex;
            max-width: 200px;
            margin-bottom: 20px;
        }

        &__body{
            position: fixed;
            padding-top: 50px;
            top: -100vh;
            // top: 0;
            right: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: #fff;
            z-index: 2;
            overflow-x: hidden;
            &--open{
                top: 0;
            }
        }
    }

    .exchangeBlock{
        &__wrap{
            flex-direction: column-reverse;
        }

        &__info{
            max-width: 100%;
        }

        &__contact{
            max-width: 100%;
        }

        &__item{
            &-heading{
                font-size: 14px;
                font-weight: 500;
            }
        }

        &__id{
            font-size: 12px;
            font-weight: 500;
        }
    }

    .contactsBlock{
        &__row{
            flex-direction: column;
        }

        &__fixed{
            width: 100%;
            max-width: 100%;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 30px;
            min-height: 0;
        }

        &__form{
            padding-right: 20px;
            min-width: 0;
        }

        &__innerRow{
            justify-content: center;
            text-align: center;

        }

        &__phoneRow{
            justify-content: center;
            margin: 0px auto;
        }

        &__phoneTown{
            margin: 0px auto;
            justify-content: center;
        }

        &__socials{
            justify-content: center;
        }

        &__fill{
            max-width: 100%;
            width: 100%;
            min-height: 250px;
            max-height: 300px;
            iframe{
                min-height: 250px;
            }
        }
    }

    .productCard{
        &__titleRow{
            flex-direction: column;
            align-items: flex-start;
        }

        &__feedback{
            &-stars{
                margin-left: 0;
            }

            &-button{
                margin: 0px auto;
            }
        }

        &__topInfo{
            justify-content: center;
        }
    }

    .cardInfo{
        &__row{
            justify-content: center;
        }

        &__textGrid{
            flex-direction: column;
        }

        &__textCol{
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 610px){
    .cardBlock{
        &__grid{
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .services{
        &__row-big{
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }

    .footer{
        &__list{
            li{
                font-size: 14px;
            }
        }

        &__logoCol{
            margin: 0px auto;
            margin-bottom: 20px;
        }
    }

    
}


@media screen and (max-width: 550px){
    .certificates{
        &__grid{
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .title{
        font-size: 24px;
    }

    .header{
        &__service{
            display: none;
        }
    }

    .bannerBlock{
        padding: 10px;
        padding-top: 20px;
        &__bottom{
            font-size: 16px;
        }

        &__title{
            font-size: 20px;
            margin-bottom: 10px;
        }

        &__grid{
            margin-bottom: 0;
        }

        &__item{
            width: 100%;
            font-size: 14px;
        }
    }

    .sortBlock{
        justify-content: center;
        &__heading{
            width: 100%;
            margin: 0;
            margin-bottom: 10px;
            text-align: center;
        }

        &__item{
            margin-bottom: 10px;
        }
    }

    .wrap{
        padding-right: 10px;
        padding-left: 10px;
    }

    .exchangeBlock{
        &__headRow{
            flex-direction: column;
            align-items: center;
        }

        &__heading{
            font-size: 22px;
            text-align: center;
        }

        &__info{
            margin-bottom: 50px;
            max-height: 500px;
            overflow-x: hidden;
        }

        &__item{
            flex-direction: column;
            &-text{
                padding-left: 0;
            }

            &-heading{
                text-align: center;
            }

            &-row{
                padding-bottom: 20px;
            }
        }

        &__promo{
            flex-direction: column;
            input{
                margin-bottom: 15px;
            }
        }

        &__button{
            margin: 0px auto;
        }

        &__id{
            margin: 0px auto;
            margin-top: 15px;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }

        &__img{
            margin: 0px auto;
            margin-bottom: 15px;
        }

        &__count{
            position: unset;
            display: block;
            text-align: center;
        }
    }

    .cardInfo{
        &__priceRow{
            flex-wrap: wrap;
        }

        &__price{
            width: 100%;
            text-align: left;
            align-items: flex-start;
        }

        &__count{
            margin-left: 0;
        }

        &__row{
            flex-direction: column;
        }

        &__id{
            margin-bottom: 10px;
        }

        &__nav{
            margin-top: 10px;
        }

        
    }

    .rewiew{
        flex-direction: column;
        &__sender{
            margin-bottom: 15px;
        }

        &__body{
            max-width: 100%;
            width: 100%;
        }
    }

    .productCard{
        &__viewInfo{
            padding-left: 0;
        }

        &__label{
            margin-right: 0;
            text-align: center;
            margin-bottom: 10px;
        }

        &__feedback{
            &-button{
                margin-top: 10px;
            }
        }
    }
}
